<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workshop 2</title>
</head>
<body>
   {% extends "base.html" %}

{% block title %}Цех 2{% endblock %}

{% block content %}
<h1 class="mb-4">Цех 2 (Вивідний цех)</h1>
<p>Оберіть інкубатор:</p>
<ul class="list-group">
    <li class="list-group-item"><a href="/incubator/2/1">Інкубатор 1</a></li>
</ul>
<a href="/" class="btn btn-secondary mt-3">Назад на головну</a>
{% endblock %}
</body>
</html>
